<section class="as_main as_section">
  <div class="as_work__list">{{# workList }}{{^ workHidden }}
    <article id="{{ workName }}" class="as_work">
      <header class="as_work__header">{{# workHasSlides }}
        <a href="#" style="background-image: url(../img/{{ domainName }}/{{ workName }}/cover.png)" alt="Galerie" class="as_work__img as_slider__toggle" data-toggle="table" data-target="{{ workName }}">Ouvrir la galerie</a>{{/ workHasSlides }}
        <h4 class="as_work__title"><time>{{ workDate }}</time>, {{ workTitle }}</h4>
        {{{ workDesc }}}
      </header>
      <table class="as_work__table">{{# workTable }}
        <tr>{{# tableRow }}
          <td{{# tableCellWidth }} colspan="{{ . }}"{{/ tableCellWidth }}>{{{ . }}}</td>{{/ tableRow }}
        </tr>{{/ workTable }}
      </table>{{# workHasSlides }}
      <div class="as_slider as_hidden">
        <a href="#" class="as_slider__prev as_hidden" data-target="{{ workName }}">Précédent</a>
        <a href="#" class="as_slider__next" data-target="{{ workName }}">Suivant</a>{{# slideList }}{{# slideExt }}
        <img src="{{ slideUrl }}" alt="{{ slideAlt }}" class="as_slider__item"/>{{/ slideExt }}{{^ slideExt }}
        <img src="../img/{{ domainName }}/{{ workName }}/{{ slideUrl }}" alt="{{ slideAlt }}" class="as_slider__item"/>{{/ slideExt }}{{/ slideList }}
      </div>{{/ workHasSlides }}
    </article>{{/ workHidden }}{{/ workList }}
  </div>
  <aside>{{# domainInfo }}
    <div class="as_domain__info">{{# infoTitle }}
      <h4>{{ . }}</h4>{{/ infoTitle }}
      {{{ infoBody }}}
    </div>{{/ domainInfo }}
  </aside>
</section>
